{% extends 'main/base.html' %}
    
{% block tittle %}
CSEW - About Page
{% endblock %}

{% block content %}
<section class="aboutcss">
    <div class="alignment">
        <img src="../../../static/media/img/logo.png">
        <div class="aboutfont">
        <h1>
            About CSEW
        </h1>
        <h5>
            An <i class="red">educational website</i> that shares <i class="red">Cyber Security knowledge</i>.
        </h5>
        <p>
            Cyber Security Educational Website (CSEW) provides as many as possible of the available cyber-attack methods that may be used by the attackers. With that being said, it will not contain any false information as the purpose of the CSEW is not for making money. Not only that, but the CSEW will also include some interactive instructions such as quizzes or step-by-step pictures in order to perform the particular attack. By doing this, specific information or knowledge can be enhanced in the mind of the user for a long time. With that being said, the main objective of this website is to share knowledge related to cyber-attacks as well as solve the problem where many cyber security websites nowadays are boring and just full of words.
        </p>
        </div>
    </div>

    <div class="contact">
        <h5>
            For more information, 
        </h5>
        <p>
            Contact Mr. Lai Kit Liang via Email: <strong class="red">Tp055629@mail.apu.edu.my</strong>.
        </p>
    </div>
</section>
{% endblock %}