{% extends 'main/base.html' %}

{% block tittle %}
Category - Phishing
{% endblock %}

{% block content %}
<h1>
    <u>Phishing Attack</u>
</h1>
<div class="defaultpic">
    <img src="../../../static/media/img/Phishing.jpg">
</div>
<p>
    Phishing is a type of social engineering attack often used to steal user data, including login credentials and credit card numbers. 
    It occurs when an attacker, masquerading as a trusted entity, dupes a victim into opening an email, instant message, or text message. 
    The recipient is then tricked into clicking a maliciouslink, which can lead to the installation of malware, the freezing of the 
    system as part of a ransomware attack or the revealing of sensitive information.
</p>
<h2>
    How Does A Phishing Attack Work?
</h2>
<p>
    Phishing attacks typically rely on social networking techniques applied to email or other electronic communication methods. Some 
    methods include direct messages sent over social networks and SMS text messages.
</p>
<p>
    Phishers can use public sources of information to gather background information about the victim's personal and work history, 
    interests and activities. Typically through social networks like LinkedIn, Facebook and Twitter. These sources are normally used 
    to uncover information such as names, job titles and email addresses of potential victims. This information can then be used to 
    craft a believable email.
</p>
<h2>
    Phishing Attack Examples
</h2>

<ul>
    <li>
        <strong>Attempt to steal credentials for Microsoft accounts:</strong>
    </li>
    <p>
        In August 2020, attackers sent phishing emails attempting to steal Microsoft account credentials. The messages attempted 
        to trick the victim into clicking a malicious link that redirected to a fake Microsoft login page.
    </p>
    <li>
        <strong>Amazon phishing email attempts to steal credit card information:</strong>
    </li>
    <p>
        In September 2020, attackers sent a phishing email, which appeared to be from Amazon, attempting to steal user credit 
        card information. The email claimed that the user’s account was deactivated due to too many login failures, and linked 
        to a fake Amazon Billing Center website, which instructed the user to re-enter their payment information.
    </p>    
    <li>
        <strong>Phishing attack on Facebook & Google:</strong>
    </li>
    <p>
        When giants in the tech field are fall prey to cybercrime, heads turn. In this instance, a business email compromise (BEC) 
        campaign that began with one phishing email tuned into a money-making scheme that lasted for years. Posing as a computer 
        parts vendor, this hacker sent a series of fake invoices between 2013 and 2015, which were paid by the companies. 
        More than $100 million was paid out, though in the end the cybercriminal behind the scam was found in Lithuania, arrested, 
        and extradited to the U.S. where he is serving five years in a federal prison.
    </p>
    <li>
        <strong>Spear phishing on Sony at:</strong>
    </li>
    <p>
        A series of spear phishing emails sent to Sony employees set this security breach into motion. After researching employee 
        names and titles on LinkedIn, hackers posed as company colleagues, sending malicious emails containing malware to unsuspecting 
        employees. In the end, more than 100 terabytes of company data was stolen, including newly released files, financial records, 
        and customer data. All told, this phishing attack cost Sony more than $100 million.
    </p>
</ul>
    <h2>
        Example of Phishing Tools:
    </h2>
    <ol>
        <strong>1. <a href="/zphisher">Zphisher</a></strong>
        <div class="defaultpic">
            <img src="../../../static/media/img/zphisher.png">
        </div>
        <p>
            Zphisher is an automated phishing tool with over 30+ templates. For example, templates such as Facebook, 
            Paypal, Linkedin, CryptoCoin, and so on are available in Zphisher. Furthermore, it can be said as an upgraded version of 
            Shellphish since its main source code comes from Shellphish.
        </p>
    </ol>
    <ol>
        <strong>2. <a href="/socialphish">Socialphish</a></strong>
        <div class="defaultpic">
            <img src="../../../static/media/img/socialphish.png">
        </div>
        <p>
            Socialphish is a powerful open-source Phishing Tool. Socialphish is becoming very popular nowadays which is used to do 
            phishing attacks on Target. Socialphish is more user-friendly Social Engineering Toolkit. Socialphish contains some 
            templates generated by another tool called Socialphish.
        </p>
    </ol>
{% endblock %}