{% extends 'main/base.html' %}

{% block tittle %}
CSEW - Xerosploit
{% endblock %}

{% block content %}
<h1>
    <u>Xerosploit</u>
</h1>
<div class="defaultpic">
    <img src="../../../static/media/img/xerosploit.jpg">
</div>
<p>
    Xerosploit is a penetration testing toolkit designed to perform man-in-the-middle attacks to discover vulnerabilities, malicious content, bugs and risks. Penetration testing is an authorized simulated cyber attack on a computer system to evaluate the security of the system. Xerosploit has various different types of modules that help in efficient attacks and features like denial of service attacks, port scanning, etc.
</p>
<h2>
    Features of Xerosploit:
</h2>
<ul>
    <li>
        Xerosploit is an open source tool.
    </li>
    <li>
        Xerosploit tool is a very simple and easy tool.
    </li>
    <li>
        Xerosploit tool can scan your Local network.
    </li>
    <li>
        Xerosploit tool has various modules together that will help you perform very efficient attacks.
    </li>
    <li>
        Xerosploit tool features a lot of functions such as port scanning, Dos attack, network mapping, snifing, DNS spoofing, Difnet, and so on.
    </li>
</ul>
<h2>
    Step-by-step Demonstration of Xerosploit:
</h2>
<ul>
    <h5>
    <u>Step 1</u>: Command below can be used to install Xerosploit.
    </h5>
    <ul>
        <li>
            git clone https://github.com/LionSec/xerosploit.git
        </li>
    </ul>
    <div class="defaultpic">
        <img src="../../../static/media/img/x1.png">
    </div>
</ul>
<ul>
    <h5>
    <u>Step 2</u>: Once your download is completed, you have to install this tool by typing.
    </h5>
    <ul>
        <li>
            cd xerosploit/ls./install.py1
        </li>
    </ul>
    <div class="defaultpic">
        <img src="../../../static/media/img/x2.jpg">
    </div>
</ul>
<ul>
    <h5>
    <u>Step 3</u>: This will install the tool in your Kali. After successful installation of xerosploit tool, type:
    </h5>
    <ul>
        <li>
            ./xerosploit.py
        </li>
    </ul>
    <div class="defaultpic">
        <img src="../../../static/media/img/x3.jpg">
    </div>
</ul>
<ul>
    <h5>
    <u>Step 4</u>: Type help to see all the modules which you can execute. Type modules and check the modules by using the help command. See the screenshot below:
    </h5>
    <div class="defaultpic">
        <img src="../../../static/media/img/x4.png">
    </div>
</ul>
<ul>
    <h5>
    <u>Step 5</u>: As you can see, there are so many modules which can be used to attack windows machine. You can use any of them by simply typing the name of the module (which you want to use), and then type run to execute that module.
    </h5>
    <ul>
        <li>
            pscan run
        </li>
    </ul>
    <div class="defaultpic">
        <img src="../../../static/media/img/x5.jpg">
    </div>
</ul>
<ul>
    <h5>
    <u>Step 6</u>: As you can see, I don’t have any open ports in my windows. Now type back to exit this module.There are some more interesting modules which can be used. It’s a very simple and user-friendly tool.
    </h5>
    <div class="defaultpic">
        <img src="../../../static/media/img/x5.jpg">
    </div>
</ul>
{% endblock %}